::-webkit-scrollbar {
  width: 10px;
  border: 1px solid hsla(41, 35%, 33%, 0.301);
  border-right: none;
  border-bottom: none;
  border-top: none;
  box-sizing: content-box;
  background-color: antiquewhite;
}

::-webkit-scrollbar-thumb {
  background: scroll center
    linear-gradient(60deg, hsl(212, 81%, 71%) 20%, hsl(180, 100%, 50%) 80%, hsl(235, 100%, 78%) 100%);
}
